<!DOCTYPE html>
<html>
<head>
	<title>UNH698 Website</title>
</head>
<body>
Candy was a black labrador and was very affectionate and loving. My dad got him for me for my 14th birthday and I absolutely loved him. He was a little more ferocious than labradors usually are. He was a family puppy but, hated it when somebody tried hug my dad even if it was me. My dad was his favorite. He probably loved males because he even loved my grand dad. He loved to play with a ball and was super active. He passed away when he was 9, though I cannot see him or be with him everyday but, He is and will always be in my heart.
Labradors are the BEST! 
<a href="/new_page2">More about Labradors</a>
</body>
</html>